* {
  margin: 0;
  padding: 0;
}

.navigation {
  padding-left: 20px;
  margin-top: 20px;
  font-family: var(--font1);
  height: 75px;
  background-color: blueviolet;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-left {
  font-size: 37px;
    font-weight: bolder;
  display: flex;
}

.nav-left ul {
  display: flex;
  margin: 0 89px;
  font-size: 20px;
}

.nav-left ul li {
  list-style: none;
  margin: 0 12px;
  font-family: var(--font2);
  color: black  ;
  justify-content: center;
    align-items: center;
    display: flex;
    font-size: 27px;
}
.nav-left ul li :hover{
    color: var(--main-bg-color);  
  
  }

.nav-left ul li a {
  text-decoration: none;
}

.content {
  height: 100%;
 /* background-color: rgb(226, 205, 43);  */
  display: flex;
  padding: 0px 15px;
  position: relative;
  margin: 25px;
}

.content::after{
  content: "";
  background-image: url(../images/back.jpg);
  width: 100%;
  height: inherit;
  opacity: 0.40;
  position: absolute;
}

.content-left{
   width: 50%;
   font-size: 22px;
   font-family: var(--font1);
   display: flex;
    flex-direction: column;
    padding: 30px;
    z-index: 1;
}
.content-left h1{
   margin-bottom: 22px;
}
.content-right{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:flex-end;
    padding: 35px;
}
.content-right img{
  height: 312px;
  width: 314px;
    border: 2px solid black;
    border-radius: 350px;
}


.h-articles{
    padding: 25px;
    /*width: 500px; */
    background: rgb(210, 198, 176);
    position: relative;
    border-radius: 10px;
}

.year-box{
  position: absolute;
  background-color: aqua;
  width: 250px;
  height: 250px;
  right: 61px;
  top: 50px;
}

.h-article{
  display: flex;
  margin: 25px;
}

.h-article-content a {
  color: black;
  text-decoration: none;
}

.h-article-img img{
   height: 300px;
   width: 350px;
   border-radius: 50px;
}

.h-article-content{
  align-self: center;
  padding: 25px;
  line-height: 2;
}

#msg
{
  padding: 20px;
    font-size: 30px;
    text-align: center; 
}
.footer {
  height: 50;
 background-color: rgb(37, 7, 7);
 display: flex;
 justify-content: center;
 align-items: center;
 color: white;
 flex-direction: column;
}
.footer a{
   color: white;
}